language: php
php:
  - 5.3
  - 5.4
  - 5.5
  - 7.0

before_install:
  - echo "extension=mongo.so" >> `php --ini | grep "Loaded Configuration" | sed -e "s|.*:\s*||"`
  - composer install --dev --no-interaction --prefer-source

after_script:
  - php vendor/bin/coveralls

notifications:
  email: "killthesound@yandex.ru"
